There are many ways people learn to study to do well in exams. You need to find what
works best for you. Flashcards and Mindmaps are very useful methods. Go online and find
out what they should look like. Using mindmaps can be a very colourful, visual, organised
way of presenting an entire topic on one sheet of A4. Flash cards are great for selftesting and a good way to discover your weaknesses in each subject. Find out the best
ways to make these.
<br>
For three different subjects, prepare for topic tests by creating a mind map and flashcards
for each.
<br>
For assessment you must show your self reflection as well as your three mind maps and
three sets of flashcards.
