The first time we do things, it can be hard and we often give up. Pick something you are not
good at yet like: touch typing skills, playing a musical instrument, doing a wheelie and other
bike skills, keepie-uppies, juggling, learning to knit so that you can create something like a hat
etc. Take suitable evidence (could be a short video) to show your standard at the start.
Persevere and persist regularly for two months then show your improvement.
For assessment you will need to show your self reflection as well as your 'before and after'
videos or your 'before' video and be able to <b>show</b> your teacher your new-found skills.
