Using iMovies, Windows Movie Maker or other software, make a video of a past-time that
causes no damage or harm and makes you very happy. The video should be around three
minutes, perhaps using a suitable song from start to finish. Your film MUST include:
<ul>
    <li>a title</li>
    <li>credits at the end</li>
    <li>a sound track as well as your voice over (in parts)</li>
    <li>text appearing on the screen</li>
    <li>transitions</li>
    <li>photos</li>
    <li>a clear idea of what you enjoy doing, why you enjoy it and how it makes you feel.</li>
</ul>
<br>
For assessment you must show your self assessment and your completed video to your Duke
Leader.