Ben Nevis is the highest mountain in the UK and measures 1345m. Your
challenge is to climb 'that height' in your area. You can do this without hills. You
should aim to complete the challenge within two months. Search for a free app
that will map your walks. Many apps record your time, speed and elevation. Once
you are ready, plan some routes that involve steps, hilly streets or actual hills. For
each walk, create a table to record the details of your: times, distances and
elevation. If it doesn’t take you long to climb 1345m, and you would like a more
challenging task, find out about the accumulative height of the Three Peak
Challenge then complete your own version! Or climb Mount Everest!
<br>
For assessment, you will need to show your neat, detailed, 'totalled' table showing
that you were successful in climbing 1345m as well as photos of some of the hills,
streets or stairs you have climbed.