<tr class="table-row selectable-row" {{#if target_url}}onclick="window.location.href='{{target_url}}'"{{/if}}>
    <td>
        {{#if invalid}}
            <span style="color: red;">{{{name}}}</span>
        {{else}}
            {{{name}}}
        {{/if}}
    </td>
    <td><a class="simple-link" {{#if user_url}}href="{{user_url}}"{{/if}}>{{{email}}}</a></td>
    <td>{{{role}}}</td>
    <td style="text-align: center;"><div {{{delete_user_hidden}}} style="margin-top: -26px; height: 0px; font-size: 35px;" class="text-button" onclick="event.stopPropagation(); showDeleteUserModal('{{user_id}}', '{{name}}');">&times;</div></td>
</tr>