<div class="center-content">
    <h2>
        Administration
    </h2>
    <h3>
        Free Disk Space
    </h3>
    <h4>
        {{disk}}
    </h4>
    <br><br>

    <h3>
        Free Memory
    </h3>
    <h4>
        {{memory}}
    </h4>
    <br><br>

    <h3>
        Server Log
    </h3>
    <h4>
        The server stores a log with any errors/warnings recorded. You can download this log file by clicking the button below.
        <br><br>
        <button title="Download Server Log" class="submit-button" style="float: center;" onclick="window.location.href='{{{log_url}}}'">Download Server Log</button>
    </h4>
    <br><br>

    <h3>
        Delete Data
    </h3>
    <h4>
        By clicking on the button below, you will be taken to a page where you can decide what data to delete/reset.
        <br><br>
        <button title="Delete Data" class="submit-button-red" style="float: center;" onclick="window.location.href='{{{delete_url}}}'">Delete Data</button>
    </h4>
    <br>
</div>
