If you are lucky enough to have access to a static bike, time yourself cycling 5km.
Cycling 5km on roads can be dangerous and, throughout winter, could be even
more dangerous. However, if you have a large park near you, work out how many
laps of it you would need to do to complete 5km. Over two months keep a diary
of your timed rides. Try to cycle at least twice a week. Work hard to see how
much you can improve your time.
<br>
As with the running challenge, keep a table showing your route (if you were out in
the open) as well as: dates of your bike rides, times and emotions. Then create a
graph to show how much you progressed. Your table and graph should be glued
into this book for assessment.