If you are lucky enough to have access to a rowing machine or some other fitness
machine (step/cross-trainer etc), how quickly can you row 1000m distance or
altitude gain? Over two months keep a diary of your timed rows. Aim to row at least
twice a week. Work hard to see how much you can you improve your time. As with
the running challenge, keep a table of: dates, 1km times and emotions (did it get
easier?) then create a graph to show how much you progressed. Your table and graph
should be glued into this book for assessment.
