How quickly can you run one mile? Choose a safe place to run a mile or do it on
a treadmill and measure a mile. Make sure you and your parents agree that it is a
safe 'place and time' to run. Aim to run at least twice a week. Over two months
keep a record of your timed runs. Work hard to see how much you can improve
your time.
<br>
You will need to create a table in which you should record each run carefully. You
will also need a map of your route as well as your varying times and your
emotional state each time (how you felt before/after/during - you don’t have to
write much). During the two months, input your times to a graph to see how you
have succeeded in improving your time and emotion. The map, table and graph
should be glued into this book for assessment.