<b>Part A:</b> To keep you and your family safe, learn the correct way of storing raw meat, dairy,
cooked food, salads etc. in your fridge. Once you have researched this, open your fridge and
ensure everything is in order. If not, sort it.
<br>
<b>Part B:</b> For one week, keep a diary of what you have eaten. List each thing neatly down the
left hand side of a sheet of A4.
<br>
<b>Part C:</b> Find out the reason why our bodies need: proteins, carbohydrates, sugars, fats and
the nutrients they contain. Learn how to read nutrition labels on packaging. It is important
that you know what you are choosing to put into your body. Now that you know this, create
a table alongside your list of foods with column headings of ‘Carbohydrates’, ‘Proteins’,
‘Fats’, ‘Fibre’, ‘Sugars’ and tick off the nutritional content of each thing on your list.
According to a food pyramid, does it look well-balanced?
<br>
<b>Part D:</b> Keep a second food diary over a second week whilst you aim to maintain a good,
balanced diet and tick off the nutritional content. Is there a difference between your two
weeks' intakes? For assessment, show your self assessment, diary, lists and all other
evidence for all four Parts.