With a helpful adult, learn how to do the following on either a car or a bike or, ideally, both:
<ul>
    <li>Change a wheel on a car / fix a puncture on a bike tyre</li>
    <li>Check tyre pressure on the car / check pressure on bike tyres</li>
    <li>Top up the oil, water and screen-wash in a car / check break pads for wear and
        effective positioning/hub/bottom bracket/headset bearings for play and oil the chain.</li>
    <li>Clean, wax and polish the car / clean bike as if for sale. Other visible issues will be more
        noticeable when your bike is gleaming</li>
    <li>Vacuum & valet interior of the car</li>
</ul>
Reflect on what you learned: what did you already know and what did you have to learn?
After a month, repeat the process. Hopefully it will be easier second time round.
<br>
Take photos as evidence. Explain what you knew, what you had to learn and how you felt
doing the same jobs second time around.
