How tech-minded are your grandparents and/or older relatives? Arrange to spend four
separate sessions sitting patiently teaching someone who needs help how to make best use
of his or her phone and computer. Skills you could help them with could be: text, email,
using shortcuts on their phone and/or computer, attach photos to word documents and
emails, they might like you to set up a Zoom (or similar) account or social media account.
They might have something they would like to sell and you could teach them how to upload
photos to a selling site and help him or her to list an ‘ad’. Find out what else he or she would
like help with. Make sure you don’t do any of it for them. Instead, patiently explain while
they work things out under your supervision. You may need to do this over Facetime etc.
rather than face to face.
<br>
For assessment, ask your older ‘pupil’ to write a report on what he or she has learned from
you as well as perhaps your teaching style and level of patience and encouragement!
