html {
    font-family: brandon-grotesque, sans-serif;
    color: rgb(175, 175, 175);
    background-color: rgb(57, 56, 63);
    padding: 0;
    margin: 0;
    font-size: 17px;
}

p {
    font-size: 17px;
}

h2 {
    font-size: 36px;
    color: white;
    margin-bottom: 15px;
}

h3 {
    font-weight: lighter;
    font-size: 25px;
}

h4 {
    font-size: 20px;
    font-weight: lighter;
}

body {
    padding: 0;
    margin:0;
}

td {
    padding: 15px;
    
}

th {
    padding: 15px;
    border-bottom: 1px solid rgb(82, 80, 97);
    border-top: 1px solid rgb(82, 80, 97);
}

tr {
    border-bottom: 1px solid rgb(82, 80, 97);
    border-left: 1px solid rgb(82, 80, 97);
    border-right: 1px solid rgb(82, 80, 97);
}

a {
    font-style: normal;
    text-decoration: none;
    color: #de9750;
}

b {
    font-weight: bold;
}

.menu {
    background-color: rgb(66, 65, 78);
    display: inline-block;
    width: 100%;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
    box-sizing: border-box;
    margin: 0;
    border-bottom: 1px solid rgb(43, 42, 56);
    z-index: 2;

    height: 71px;
}

.page-content {
    position: relative;
    padding-top: 71px;
    min-height: 100vh;
    box-sizing: border-box;
}

.content-wrap {
    padding-bottom: 65px;
}

.footer {
    text-align: center;
    height: 50px;
    position: absolute;
    bottom: 0;
    padding-top: 12px;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(66, 65, 78);
    border-top: 1px solid rgb(43, 42, 56);
}

.sticky-top {
    overflow: none;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
}

.navbar-title-image {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0px;
    padding: 0px;
    width: auto;
    height: 50px;
    float: left;
}

.navbar-brand {
    font-weight: bolder;
    font-size: 22px;
    float: left;
    color: white;
}

.divider {
    display: inline;
    border-left: 1px solid rgb(121, 121, 121);
    height: 100%;
    margin-right: 8px;
    margin-left: 6px;
}

.auth-section {
    margin-top: 4px;
    font-size: 14px;
}

.user-string {
    text-decoration: none;
    font-weight: 50;
    padding-bottom: 3px;
    color: rgb(175, 175, 175);
}

.user-string:hover {
    color: white;
}

.no-user-string {
    text-decoration: none;
    font-weight: 50;
    padding-bottom: 3px;
    color: rgb(175, 175, 175);
    font-style: italic;
}

.auth-button {
    color: #de9750;
    font-weight: 50;
}

.auth-button:hover {
    color: #f78f28;
}

.navbar-right {
    float: right;
    margin-top: 15px;
}

.nav-item {
    display: inline;
}

.err-text {
    text-align: center;
    color:rgb(179, 102, 102);
}

.nav-item a {
    line-height: 100%;
    display: inline;
    font-weight: bold;
    font-size: 17px;
    color: #919191;
    text-align: center;
    padding: 16px;

    text-decoration: none;
  }
  
.nav-item a:hover {
    color: #f78f28;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.center-content-narrow {
    text-align: center;
    width: 50%;
    min-width: 600px;
    max-width: 1000px;
    position: auto;
    margin-right: auto;
    margin-left: auto;
}

.center-content {
    text-align: center;
    position: auto;
    margin-right: auto;
    margin-left: auto;
}

.center-content-medium {
    text-align: center;
    width: 75%;
    min-width: 600px;
    max-width: 1500px;
    position: auto;
    margin-right: auto;
    margin-left: auto;
}

.left-content {
    text-align: left;
    position: auto;
    margin-right: auto;
    margin-left: auto;
}

.submit-button {
    border-style: none;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #de9750;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.submit-button-disabled {
    border-style: none;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(43, 42, 56);
    color: rgb(175, 175, 175);
    border-radius: 5px;
    font-size: 18px;
    cursor: default;
}

.input-box {
    background-color: rgb(66, 65, 78);
    border-style: hidden;
    box-shadow: none;
    padding: 10px;
    text-align: left; 
    font-size: 18px; 
    max-width: 500px;
    width: 50%;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-box:focus {
    background-color: rgb(66, 65, 78);
    border-style: hidden;
    box-shadow: none;

    color: white;
}

.input-box:-webkit-autofill {
    background-color: rgb(66, 65, 78);
    border-style: hidden;
    box-shadow: none;

    color: white;
}

.input-box:focus:-webkit-autofill,
.input-box:focus:-webkit-autofill:hover, 
.input-box:focus:-webkit-autofill:focus, 
.input-box:focus:-webkit-autofill:active
{
    background-color: rgb(66, 65, 78);
    border-style: hidden;
    box-shadow: none;

    color: white;
}


.submit-button:hover {
    background-color: #f78f28;
}

.content-table {
    border-collapse: collapse;
    margin: auto;
    outline: rgb(56, 56, 56) solid 1px;
}

.table-header {
    background-color: rgb(43, 42, 56);
    text-align: left;
    font-size: 17px;
}

.table-row {
    background-color: rgb(61, 60, 73);
    text-align: left;
    font-size: 17px;
}

.table-content {
    display: inline-block;
    float: center;
    max-width: 1200px;
    width: 70%;
}

.selectable-row {
    cursor: pointer;
}

.selectable-row:hover {
    background-color: rgb(66, 65, 78);
}

.add-button {
    font-size: 20px;
    font-weight: 200;
}

.text-button {
    color: #de9750;
    font-style: normal;
    cursor: pointer;
}

.text-button:hover {
    color: #f78f28;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
.modal-content {
    background-color: rgb(57, 56, 63);
    border-radius: 15px;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    padding-top: 10px;
    /*border: 1px solid #888;*/
    width: 50%; /* Could be more or less, depending on screen size */
    max-width: 600px;
  }
  
  /* The Close Button */
.modal-close {
    color: #de9750;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.modal-close:hover,
.modal-close:focus {
    color: #f78f28;
    text-decoration: none;
    cursor: pointer;
  }

.navbar-center {
      width: 100%;
      border-bottom: 1px solid rgb(66, 65, 78);
}

.path-header {
    padding: 6px;
    padding-bottom: 12px;
    padding-left: 25px;
    font-size: 25px;
    color: rgb(88, 87, 102);
}

.header-item {
    font-weight: lighter;
    font-size: 20px;
    color:rgb(175, 175, 175);
    text-decoration: none;
}

.header-item:hover {
    color: white;
}

.org-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    overflow: hidden;
}

.org-nav-item {
    display: inline-block;
    color: #919191;
    padding: 3px;
    
}

.org-nav-item-selected {
    display: inline-block;
    color: white;
    padding: 3px;
    

    border-bottom: 1px solid #f78f28;
}


.org-nav-link {
    display: inline;
    color: inherit;
    text-align: center;
    padding: 16px;
    font-size: 18px;

    text-decoration: none;
  }
  
.org-nav-item:hover {
    color: white;
    border-bottom: 1px solid white;
}

.org-nav-item-selected a {
    text-decoration: none;
}

.user-table {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

.attribute-name {
    color: white;
    font-weight: bold;
    font-size: 16px;

}

.attribute-value {
    color: rgb(175, 175, 175);
    font-weight: normal;
    font-size: 16px;
}

.input-item-title {
    color: white;
    font-weight: bold;
    text-align: left;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

.center-form {
    display: block;
    text-align: center; 
    width: 60%;
    max-width: 500px;
    margin: auto;
}

.back-button {
    padding-top: 0;
    display: inline-block;
    color: rgb(175, 175, 175);
    font-size: 35px;
    text-decoration: none;
    font-weight: lighter;
    cursor: pointer;
    margin: 25px;
}
.back-button:hover {
    color: white;
}

.inner-header {
    font-size: 24px;
    color: white;
}

.inner-nav-section {
    margin-top: -20px;
}

.adjacent-input-section {
    width: 49%; 
    margin: 0;
    padding: 0;
    display: inline-block; 
    box-sizing: border-box;
}

.simple-link {
    color: rgb(175, 175, 175);
    text-decoration: none;
}
.simple-link:hover {
    color: white;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.slide-in-right {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 0.3s ease-out 0s 1 slideInFromRight;
}

.bubble {
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(43, 42, 56);
    color: rgb(175, 175, 175);
    border-radius: 5px;
    border: 1px solid rgb(82, 80, 97);
    display: inline-block;
}

.section-bubble {
    text-align: center;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(43, 42, 56);
    color: rgb(175, 175, 175);
    border-radius: 15px;
    border: 1px solid rgb(82, 80, 97);
    box-sizing: border-box;

    width: 260px;
    height: 260px;

    margin: 15px;

    display: inline-block;
    cursor: pointer;
}

.section-bubble-image {
    float: center;
    display: block;
    width: 60px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    font-size: 20px;
    color: white;
}

.center-content-dashboard {
    text-align: center;
    width: 871px;
    display: block;
    float: center;
    margin: auto;
}


@media only screen and (max-width: 1000px) {
/* CSS that should be displayed if width is equal to or less than 991px goes here */
    .center-content-dashboard {
        text-align: center;
        width: 100%;
        display: inline-block;
        margin: auto;
    }
}

.horizontal-separator {
    width: 100%;
    border-bottom: 1px solid rgb(66, 65, 78);
    box-sizing: border-box;
}

.activity-option {
    padding: 40px;
    text-align: left;
    float: center;
    width: 60%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 18px;
    border: 1px solid rgb(66, 65, 78);
    border-radius: 40px;
    cursor: pointer;
}

.activity-option:hover {
    background-color: rgb(66, 65, 78);
}

.activity-option-selected {
    border: 1px solid #de9750;
    background-color: rgb(66, 65, 78);
}

.activity-title {
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.activity-subtitle {
    font-size: 22px;
    font-weight: light;
    display: inline-block;
    margin-bottom: 11px;
}

.choose-option-header {
    float: center;
    margin: auto;
    color: white;
    font-size: 22px;
    width: 50%;
    max-width: 620px;
}

.white {
    color: white;
}

.activity-chosen {
    font-size: 17px;
    font-weight: bold;
}

.activity-not-chosen {
    font-size: 17px;
    margin-top: 30px;
    font-style: italic;
    color: #de9750;
}

.state-in-progress {
    color: white;
}

.state-rejected {
    color: red;
}

.state-in-review {
    color: orange;
}

.state-completed {
    color: green;
}

.choose-option-image {
    float: center;
    display: block;
    margin-top: -30px;
    width: 70px;
    height: 70px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}


.activity-description {
    padding: 40px;
    padding-top: 5px;
    text-align: left;
    float: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 18px;
    background-color: rgb(43, 42, 56);
    color: rgb(175, 175, 175);
    border-radius: 5px;
    border: 1px solid rgb(82, 80, 97);
    border-radius: 40px;
    box-sizing: border-box;
}

.miniture-italic {
    font-size: 15px;
    font-style: italic;
}

.input-area {
    display: block;
    background-color: rgb(66, 65, 78);
    border-style: hidden;
    box-shadow: none;
    padding: 10px;
    text-align: left; 
    font-size: 18px; 
    font-family: inherit;
    width: 100%;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

.input-area:focus {
    background-color: rgb(66, 65, 78);
    border-style: hidden;
    box-shadow: none;
    color: white;
}

.input-area:-webkit-autofill {
    background-color: rgb(66, 65, 78);
    border-style: hidden;
    box-shadow: none;
    color: white;
}

.input-area:focus:-webkit-autofill,
.input-area:focus:-webkit-autofill:hover, 
.input-area:focus:-webkit-autofill:focus, 
.input-area:focus:-webkit-autofill:active
{
    background-color: rgb(66, 65, 78);
    border-style: hidden;
    box-shadow: none;
    color: white;
}

.add-file-button {
    border-style: none;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #de9750;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.add-file-button:hover {
    background-color: #f78f28;
}

.uploaded-image {
    display: block; 
    margin: auto; 
    float: center; 
    border-radius: 5px; 
    max-height: 600px;
    max-width: 1000px;
    width: 70%;
    height: auto;
}

.rejected-bubble {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(43, 42, 56);
    color: rgb(175, 175, 175);
    border-radius: 15px;
    border: 1px solid rgb(141, 30, 30);
    box-sizing: border-box;

    width: 100%;

    margin-top: 20px;

    display: block;
}

.rejected-reason {
    font-style: italic;
    color: white;
}

.outstanding-bubble {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(43, 42, 56);
    color: rgb(175, 175, 175);
    border-radius: 15px;
    border: 1px solid rgb(139, 90, 132);
    box-sizing: border-box;

    width: 100%;

    margin-top: 20px;

    display: block;
}

.section-circle {
    display: inline-block;
    margin-right: 7px;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid rgb(175, 175, 175);
    box-sizing: border-box;
  }

.form-dropdown {
    display: block;
    margin: auto;
    float: center;
    background-color: rgb(66, 65, 78);
    color: white;
    padding: 10px;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 5px;
}

.form-option {
    background-color: rgb(66, 65, 78);
    color: rgb(175, 175, 175);
    padding: 10px;
    font-size: 18px;
}

.items-form-container {
    padding: 20px;
    width: 100%;
    background-color: rgb(66, 65, 78);
    border-radius: 5px;
    box-sizing: border-box;
}

.form-items {
    float: center;
    display: block;
    margin: auto;
    text-align: center;
}

.form-item {
    display: inline-block;
    padding: 10px;
    margin-right: 25px;
}

.inner-content {
    text-align: left;
}

.award-icon {
    width: 120px;
    height: auto;

    float: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -20px;
}