<tr class="table-row selectable-row {{#if completed}}completed-row{{/if}}" onclick="window.location.href='{{client_url}}'">
    <td>{{name}}</td>
    <td><a class="simple-link" href="{{user_url}}">{{email}}</a></td>
    <td>{{class}}</td>
    <td>{{award}}</td>
    <td>{{unreviewed_sections}}</td>
    <td>
        {{#each section_styles}}
            <div class="section-circle" style="{{this}}"></div>
        {{/each}}
    </td>
    <td style="text-align: center;"><div style="margin-top: -26px; height: 0px; font-size: 35px;" class="text-button" onclick="event.stopPropagation(); showDeleteClientModal('{{user_id}}', '{{name}}');">&times;</div></td>
</tr>