<div class="inner-nav-section">
    <a class="back-button" href="{{back_url}}">
        &lt;
    </a>
    <span class="inner-header" style="display: inline-block;">
        Add Pupil
    </span>
</div>

<div class="center-content-narrow">
    <h4 style="text-align: center;">
        Pupil account was successfully created. They will receive an email with an option to change the default password.
        To create another account <a href="{{add_client_url}}" class="text-button">click here</a>. 
    </h4>
    <br><br>
    {{{attributes}}}
</div>