

<div class="center-content-dashboard">  
    <img class="award-icon" src="{{award_icon}}">
    <h2> {{award}} </h2>
    <h4 style="text-align: center;">
        Senior Duke consists of 6 different sections. 
        For each section you should choose the challenge that suits you best.
        Click on a section to select and complete your challenges. 
    </h4>


    
    {{#if completed}}
        <h4 class="bold-title">
            Congratulations! You have completed all six sections of your Senior Duke, which means you have acheived your award. Your teachers will present this to you at some point during the year.
        </h4>
    {{/if}}
    <br>
    <div>
        {{{sections}}}
    </div>

    <br><br><br>
</div>