Think of something you would really like to buy (you don't actually have to buy
it) and research different places where you can buy the item. Compare the
prices. What are the highest and lowest prices you could pay for the item? Is the
cheapest version too good to be true? Read reviews. Can you find the same
thing second hand on a site like ebay or Gumtree etc.? If so, can you message
the seller politely to negotiate an even cheaper deal? Don't shy away from
asking, they can only say no!
<br>
For assessment, you should create a table with evidence of prices
stating the shop names/websites and prices. Also show a screenshot
of your negotiation and the answer if you got one.