You can learn to save a lot of money by using coupons and codes. They can be
found in newspapers, magazines and online. See if you can find coupons for
things you (and/or your family) would normally buy. On what types of things
can you save? Find out where you can find coupons and where to use them.
Over the course of a month, see how many things on which you can save. For
assessment, show photographic evidence of what you have bought and how
much of a saving you have made. This should be in the form of a table stating:
what your chosen items were, normal price, price with coupon, where you found
each coupon. 