Dinner can be much cheaper than a take-away meal! Dinner could be things
like Macaroni cheese, pasta with a simple sauce, hearty soup, chilli, or a stir fry
etc.
<br>
Over the course of five weeks, learn how to make five different budget meals.
Create a recipe book with the five simple, cheap recipes with photographic
evidence of you learning how to cook each one. This could be very useful to you
when you leave home!
<br>
For assessment, you must bring in the recipe book you have created along with
photos.