Money for the things we ‘want’ needs to be earned.
<br>
<b>Part A:</b> Getting a good, honest job teaches you so many life skills - you need to speak
to people to get the job in the first place then you need to learn to do as you are told,
quickly, you need to think ahead, deal with customer complaints, stay calm and
friendly. Consider your skills and hobbies and think of jobs you could do: You could
wash cars, service neighbours bikes, get a paper round, start an ironing service etc.
You need to do this regularly over a two month period and keep a diary of the times
you worked. Whatever job you get, save the money you earn.
<br>
<b>Part B:</b> If you don’t already have one, set up a savings account in a trusted bank. The
bank may require some identification so make sure you find out what you will need to
take with you when you go. This must be done by you. Parents can help you but you
are the one who should set it up so that you can access your money when you need it.
Whatever you earn must be put into your new bank account.
For assessment, you must show evidence of your work and your income. After all
that, you could reward yourself by spending some of the money you have saved!