<div class="container">
    <div class="center-content">
        <h2>
          Outstanding Achievements
        </h2>
        <h4 style="text-align: center;">Below is the list of sections marked as outstanding:</h4>
        <div class="table-content">        
          <table class="user-table" id="clientTable">
            <tr class="table-header">
                <th style="width:25%;">Pupil Name</th>
                <th style="width:25%;">Email</th>
                <th style="width:25%;">Section</th>
                <th style="width:25%;">Activity</th>
            </tr>
            {{{section_rows}}}
          </table>
        </div>
    </div>
</div>