<div class="horizontal-separator"></div>
<div class="center-content-narrow">
    <h3 class="state-completed">This Section is Completed</h3>
    <p>
        If you have clicked on 'Mark as Complete' by accident or wish to change your mind, you can click undo below, returning the section to an 'In Review' state.
    </p>

    <form method="POST" action="{{set_state_url}}">
        <input id="state" name="state" type="hidden" value="InReview"/>
        <input type="submit" class="submit-button" value="Undo"/>
    </form>

    <br>

    <h3>Mark as Outstanding</h3>
    <p>
        If you believe that this pupil has gone above and beyond to produce something especially interesting or challenging, then you can mark this section as outstanding.
        This may then be seen to someone at Senior Duke, and special inter-school rewards could be given to the most impressive Senior Duke achievements. 
    </p>
    <form method="POST" action="{{set_outstanding_url}}">
        {{#if outstanding}}
        <i>
            This section is already marked as outstanding. To undo, click the button below:
        </i>
        <br><br>
        <input id="outstanding" name="outstanding" type="hidden" value="false"/>
        <input type="submit" class="submit-button" value="Cancel"/>
        {{else}}
        <input id="outstanding" name="outstanding" type="hidden" value="true"/>
        <input type="submit" class="submit-button" value="Mark as Oustanding"/>
        {{/if}}
    </form>
</div>