<div class="container">
    <div class="center-content-narrow">
        <br><br>
        <h2>
            Login
        </h2>
            

        <h3 style="text-align: center;">Enter your login details below</h3>
        <br><br>
        <p class="err-text">{{login_err_msg}}</p>
        <form style="text-align: center; margin: 0 auto;" method="POST" action="{{{login_url}}}">
            <input name="name" class="input-box" type="text" placeholder="Organisation Name"></input>
            <br><br>
            <input name="password" class="input-box" type="password" placeholder="Password"></input>
            <br><br><br>
            <input style="margin: auto;" class="submit-button" type="submit" value="Login"/>
        </form>
        
    </div>
</div>