<div class="container">
    <div class="center-content-narrow">
        <br><br>
        <h2>
            Change Password
        </h2>
        <h3 style="text-align: center;">Enter your new password below for account with username:<br> <b>{{email}}</b></h3>
        <br>
        <p class="err-text">{{err_msg}}</p>
        <form style="text-align: center; margin: 0 auto;" method="POST" action="{{{change_password_url}}}">
            <input name="password" class="input-box" type="password" placeholder="New Password"></input>
            <br><br>
            <input name="confirm" class="input-box" type="password" placeholder="Confirm Password"></input>
            <br><br><br>
            <input style="margin: auto;" class="submit-button" type="submit" value="Change Password"/>
        </form>
        
    </div>
</div>