<!DOCTYPE html>
<html  >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
    <meta name="description" content="">
  
  
  <title>{{page_title}}</title>
  
  <link rel="stylesheet" href="assets/style.css">
  
</head>

<body>

  <section class="menu">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                {{{page_heading}}} <span class="divider"></span> <span class="{{{page_user_class}}}">{{{page_user}}}</span>
            </div>
            <div class="navbar-right">
                <ul class="nav-list" data-app-modern-menu="true">
                    {{{page_nav}}}
                </ul>
                <div class="icons-menu">
                    <span class="p-2 mbr-iconfont socicon-facebook socicon"></span>  
                    <span class="p-2 mbr-iconfont socicon-twitter socicon"></span>
                    <span class="p-2 mbr-iconfont socicon-instagram socicon"></span>
                </div>
                
            </div>
        </div>
    </nav>
</section>

<section class="content">
    {{{page_body}}}
</section>
</body>
</html>