<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="stylesheet" href="https://use.typekit.net/bgo1iyf.css">
        <meta name="description" content="">
        <link rel="stylesheet" href="/assets/style.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#ffffff">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="rgb(66, 65, 78)">
    
        <title>{{page_title}}</title>

    </head>

    <body>
        <section class="menu sticky-top">
        <nav class="navbar">
            <div class="container">
                <img src="/assets/title_image.png" class="navbar-title-image"/>
                <div class="navbar-brand">
                    <a class="page-heading" href="{{homepage_url}}">{{{page_heading}}}</a> 
                    <div class="auth-section">
                        <a class="{{page_user_class}}" href="{{page_user_link}}">{{{page_user}}}</a>
                        <span class="divider"></span>
                        <a class="auth-button" href="{{page_auth_link}}">{{{page_auth_action}}}</a>
                    </div>
                </div>
                <div class="navbar-right">
                    <ul class="nav-list" data-app-modern-menu="true">
                        {{{page_nav}}}
                    </ul>
                    <div class="icons-menu">
                        <span class="p-2 mbr-iconfont socicon-facebook socicon"></span>  
                        <span class="p-2 mbr-iconfont socicon-twitter socicon"></span>
                        <span class="p-2 mbr-iconfont socicon-instagram socicon"></span>
                    </div>
                    
                </div>
            </div>
        </nav>
        </section>

        <section class="page-content">
            <div class="content-wrap">
            {{{page_body}}}
            </div>
            <footer class="footer">
                &copy; 2021 Junior Duke &nbsp; - &nbsp; <a href="/privacy">Privacy Policy</a>
            </footer>
        </section>
    </body>
</html>