<div class="center-content-narrow">
    <br>
    <h2>
        Senior Duke Privacy Policy
    </h2>

    <div class="inner-content">
        <br>
        <p>
            The Senior Duke Award understands the importance of keeping personal information private and protected. This takes into consideration the pupils taking part in the Award and the teachers running the Award within each school.
            Your personal information is only seen by your teachers and could be accessed by those at Junior Duke HQ. 
            Being created by teachers and run by teachers who are used to following the General Data Protection Regulation advice from the Data Protection Act of 2018, means that you have control over the information we store about you.
            We would only use your email address to get in touch if your teacher has marked your work as ‘outstanding’ as we would like to ask if you would mind if we publish parts of it in our Newsletter. 
            We will not share any data you put on this Senior Duke portal without your consent.
        </p>
        <p>
            In the creation of this Senior Duke portal, we have built in safeguards to keep your personal information as secure as is digitally possible. 
            All of the staff at the Junior Duke HQ (that is the umbrella name for Micro, Mini, Junior and Senior Duke Awards) are told to keep the information for authorised use only and to never share any of your details. 
            We all know that no technology is totally foolproof, but we have put in a good deal of effort to keep our systems up to date with the relevant safety protocols whilst making the Senior Duke as simple as possible for you to use.
        </p>
        <p>
            The teachers running the Award in their schools will be bound by the same rules of confidentiality and data protection in virtual environments that they would be in physical learning environments. 
            Staff should only communicate personal information about students on a need to know basis where there is a lawful purpose, in accordance with their institution’s safeguarding and data protection policies.
        </p>
        <p>
            Your information is accessible only to those who need to use it: your teachers and the staff at Junior Duke HQ.
            We ask that pupils, teachers and those at Junior Duke HQ consider:
            <ul>
                <li>When information is online, it is stored on network servers and on password-protected databases and not on local systems and that sensible security access levels are applied.</li>
                <li>There will be limited ‘sensitive’ personal data put onto the Senior Duke portal. However, if there is, it should not be copied onto pen drives nor onto any removable device or media.</li>
                <br>
            </ul>
            Following these two ‘rules’ should mean that:
            <ul>
                <li>Only authorised people can access any pupil’s personal data.</li>
                <li>If personal information is somehow lost, it can be recovered to prevent any upset to the pupil involved.</li>
            </ul>

        </p>
    </div>

</div>