<div class="activity-option-stat">
    <span class="activity-title">{{title}}</span>
    <br>
    <span class="activity-subtitle">{{subtitle}}</span>
    <br>
    <table class="stats-table" style="width: 100%;">
        <tr style="font-weight: bold;">
            <td style="width: 25%;">Choices</td>
            <td style="width: 25%;">Choice Share</td>
            <td style="width: 25%;">Completions</td>
            <td style="width: 25%;">Completion Rate</td>
        </tr>
        <tr>
            <td>{{choices}}</td>
            <td>{{share}}</td>
            <td>{{completions}}</td>
            <td>{{completion_rate}}</td>
        </tr>
    </table>
</div>