<div class="inner-nav-section">
    <a class="back-button" href="{{back_url}}">
        &lt;
    </a>
    <span class="inner-header" style="display: inline-block;">
        {{award}} - Stats
    </span>
</div>

<div class="center-content-dashboard">
    <img class="award-icon" src="{{award_icon}}">
    <h2> {{award}} </h2>
    <h4 style="text-align: center;">
        Click on the section below to get stats for that section.
    </h4>
    <br>
    <div>
        {{{sections}}}
    </div>

    <br><br><br>
</div>