<div class="section-bubble" onclick="window.location.href='{{section_url}}'">
    <img class="section-bubble-image" src="{{section_image_url}}"/>
    <span class="section-title">{{section_title}}</span>
    <br>
    <table class="section-stat-table">
        <tr class="minirow">
            <td class="right-cell" style="font-weight: bold;">Choices</td>
            <td class="left-cell">{{choices}}</td>
        </tr>
        <tr class="minirow">
            <td class="right-cell" style="font-weight: bold;">Completions</td>
            <td class="left-cell">{{completions}}</td>
        </tr>
        <tr class="minirow">
            <td class="right-cell" style="font-weight: bold;">Completion Rate</td>
            <td class="left-cell">{{completion_rate}}</td>
        </tr>
    </table>

</div>