<div class="activity-option" onclick="window.location.href='{{{award_stat_path}}}'">
    <img class="choose-award-image" src="{{award_image_url}}"/>
    <span class="award-title">{{title}}</span>
    <br>
    <table class="section-stat-table" style="margin: auto; float: center;">
        <tr class="minirow">
            <td class="right-cell" style="font-weight: bold;">Participants</td>
            <td class="left-cell">{{participants}}</td>
        </tr>
        <tr class="minirow">
            <td class="right-cell" style="font-weight: bold;">Completions</td>
            <td class="left-cell">{{completions}}</td>
        </tr>
        <tr class="minirow">
            <td class="right-cell" style="font-weight: bold;">Completion Rate</td>
            <td class="left-cell">{{completion_rate}}</td>
        </tr>
    </table>
    <br>
</div>