<!DOCTYPE html>
<html  >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="https://use.typekit.net/bgo1iyf.css">
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
    <meta name="description" content="">
    <link rel="stylesheet" href="/assets/style.css">
  
    <title>{{title}}</title>

</head>

    <body>
        <section class="page-content">
            <div class="content-wrap">
                <h2>
                    {{title}}
                </h2>
                <h4>
                    {{{subtitle}}}
                </h4>
                {{{content}}}
            </div>
        </section>
    </body>
</html>